[color]
	diff = auto
[user]
	name = Carlos Anderson
	email = carlosjanderson@gmail.com
[core]
	editor = vim
[push]
	default = simple
[alias]
    lg = log --oneline --graph --decorate --all
    lgd = log --graph --all --decorate --oneline --pretty=format:'%C(yellow)%h %C(green)%ad%C(auto)%d %s' --date=short --date-order
